body{
	background-image: url(/static/img/background.png);
	background-repeat: no-repeat;
	min-width: 3840px;
	min-height: 1920px;
	max-width: 3840px;
	max-height: 1920px;
}

#myProgress {
    position: relative;
    width: 100%;
    height: 30px;
    background-color: grey;
}

#form{
	height: 100%;
}

.question{
	height: 100%;
	position:relative;
}

#quiz {
	top: 350px; 
	left: 600px; 
	width: 2715px; 
	height: 1100px; 
	position: absolute; 
	margin-top: 12px;
	margin-left: -60px;

    padding: 20px;
    border-radius: 6px;

}

#wrap {
	height: 100%; 
	margin: 0px;
}

.start a{
  border-radius: 10px;
  background-color: #DCDCDC;
  border: 5px solid black;
  text-align: center;
  padding: 15px;
  font-family: arial, sans-serif;
  transition: all .218s ease 0s;
  vertical-align: center;
   text-decoration: none;
  outline: none;
  color: rgb(68,68,68);
}

a.button {
  width: 20%;
  text-align: center;
  display: inline-block;
  font-family: arial, sans-serif;
  overflow: hidden;
  font-weight: bold;
  color: rgb(68,68,68);
  text-decoration: none;
  user-select: none;
  outline: none;
  background-image: url(/static/img/button.png);
  width:780px;
  height: 180px;
  transition: all .218s ease 0s;
  vertical-align: center;
  border-radius: 10px;
  bottom: 10px;
  font-size: 80px;
  line-height: 180px;


}
a.button:hover {
  
  box-shadow: 0 1px 2px rgba(0,0,0,.1);
}


ul.answers{
    margin: 0;
    margin-top: 108px;
    padding: 10px;

}

ul.answers li {
   height: 100%;
   display: inline;
   margin-left: 55px;
   margin-right: 63px;
}

.counter{

	vertical-align: bottom;
}

html, body, #wrap {

	margin: 0px;

}
body > #wrap {
	height: auto; 
	min-height: 100%;
	margin: 0 auto;
}



#headline {
	width: 100%;
	color: #eaeaea;
	text-align: left;
	padding: 10px 0px 10px 0px;
	background: #000;
	font: 250% Georgia, Arial, Helvetica, sans-serif;
}

#content {
	padding-bottom: 40px;
}
#footer {
	clear: both;
	height: 40px;
	color: #eaeaea;
	margin-top: -53px;
	text-align: right;
	position: relative;
	padding: 10px 50px 0px 0px;
	border-top: 3px solid #ccc;
	font: 150% Georgia, Arial, Helvetica, sans-serif;
	background: #000;
} 
#footer a {
	color: #eaeaea;
	text-decoration: none;
	
}
#footer a:hover {
	color: #8b8b8b;
}
.clearfix:after {
	height: 0;
	clear: both;
	content: ".";
	display: block;
	visibility: hidden;
}
.clearfix {
	display: inline-block;
}

.counter{
	position:absolute;
    bottom:295px;
    font-size: 80px;
    left: 68px;
}

#head{
	background-color: red;
	padding-left: 40px;
}

.start {
	display: block;
	text-align: center;
	padding: 20px;
	font-size: 71px;
	margin-top: 250px;

}

.next{
	position:absolute;
    right:68px;
    bottom: 295px;
    width: 331px;
    height: 121px;
    background-image: url(/static/img/next-button.png);
}

.back{
	position:absolute;
    left:180px;
    top: 360px;
    width: 230px;
    height: 232px;

}

.question-text{
	margin-top: 263px;
	font-size: 71px;
	margin-left: 45px;
	line-height: 100px;
	
}

.result{
	font-size: 65px;
	font-family: Arial sans-serif;
	font-weight: bold;
	position: absolute;
	left:40%;
	bottom:295px;
}

#headline{
	font-size: 60px;
    font-family: Arial sans-serif;
	font-weight: bold;
    background-color: transparent;
    margin-top: 120px;
}

#stat-result{
    background-image: url(/static/img/results.png);
    width: 2000px;
    height: 665px;
    border: solid black;
    margin-top: 200px;
    margin-left: 70px;
}

.last-result , .average-result{
	margin: 0px 0px;
	font-size: 60px;
    font-family: Arial sans-serif;
    line-height: 53px;
    padding-left: 70px;
    width:835px;
}
.average-result{
	float:right;
}
.last-result {
	float: left;
}

.bold{
	font-weight: bold;
}

.head{
	font-size: 150%;
	margin-top: 70px;
	margin-bottom: 120px;
}

.percent{
	margin-top: 120px;
}

.restart {
	position:absolute;
    right:68px;
    bottom: 80px;
    width: 331px;
    height: 121px;
    background-image: url(/static/img/restart.png);

}