{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}
	END QUIZ
{% endblock title %}

{% block extra_head %}
<link rel="stylesheet" href="{% static 'css/screen.css' %}" media="screen, projection"/>
{% endblock extra_head %}

{% block content %}

<div id="wrap">


<div id="content" class="clearfix">
<div id='quiz'>

<div id='stat-result'>
<div class='last-result'>
<p class='bold head'>Your result</p>

<p><span class='bold' style='color:green'>{{right}}</span><span> right answers</span></p>
<p><span class='bold' style='color:red'>{{wrong}}</span><span> wrong answers</span></p>
<p class='percent'><span>You reached </span><span class='bold'>{{percent}} %</span></p>
</div>

<div class='average-result'>
<p class='bold head'>Average result</p>

<p><span class='bold' >{{averright}}</span><span> right answers</span></p>
<p><span class='bold' >{{averwrong}}</span><span> wrong answers</span></p>
<p class='percent'><span>Average rate </span><span class='bold'>{{averpercent}} %</span></p>
</div>

<a href="{% url 'questions' quiz.pk %}" class='restart'></a>

</div>

</div>
</div>
</div>
</div>




{% endblock %}