{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}
	QUIZ
{% endblock title %}

{% block extra_head %}
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
<script src="http://malsup.github.io/min/jquery.form.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/script.js"></script>
<link rel="stylesheet" href="{% static 'css/screen.css' %}" media="screen, projection"/>
{% endblock extra_head %}

{% block content %}

<div id="wrap">


<div id="content" class="clearfix">
<h2 id='headline'><img src="{{ MEDIA_URL }}{{ quiz.headline }}" /></h2>
<div id='quiz'>
<form name="quiz" id="form" action='' method='post'>
{% csrf_token %} 
{% for question, answers in questions %}
{% if forloop.first %}
<div id="q{{question.pk}}" class="question">
<h2 class="question-text">{{question.question}}</h2>

<ul class='answers'>
    {% for answer in answers %}
    <li>
        <input type='radio' style='display:None' name='answer-on-{{question.pk}}' value="{{answer.answer}}" id='q{{question.pk}}-a{{forloop.counter0}}'></input>
        <a href="#" class="answer-q{{question.pk}}-{{answer.is_Correct}} button" id='answer-{{forloop.counter0}}-on-{{question.pk}}' onClick='event.preventDefault(); nextQuestion({{question.pk}}, {{forloop.counter0}}, "{{answer.is_Correct}}", {{question.statistics.right}}, {{question.statistics.total}}, {{forloop.parentloop.counter}} )'> {{ answer.answer}}</a>
    </li>
    {% endfor %}
</ul>
<span class='counter'>{{forloop.counter}}/{{ forloop.counter0|add:forloop.revcounter}}</span>
<span style="display:None" id='result-correct-{{question.pk}}' class='result'>Right answer</span>
<span style="display:None" id='result-wrong-{{question.pk}}' class='result'>Wrong answer</span>
<a href="#" class="next" style="display:None" id="next-{{question.pk}}" onClick='event.preventDefault(); func({{question.pk}})'></a>
</div>

{% elif forloop.last %}

<div id="q{{question.pk}}" style='display:None' class="question">
<h2 class="question-text">{{question.question}}</h2>

<ul class='answers'>
    {% for answer in answers %}
    <li>
        <input type='radio' style='display:None' name='answer-on-{{question.pk}}' value="{{answer.answer}}" id='q{{question.pk}}-a{{forloop.counter0}}'></input>
        <a href="#" class="answer-q{{question.pk}}-{{answer.is_Correct}} button" id='answer-{{forloop.counter0}}-on-{{question.pk}}' onClick='event.preventDefault(); lastQuestion({{question.pk}}, {{forloop.counter0}}, "{{answer.is_Correct}}", {{question.statistics.right}}, {{question.statistics.total}}, {{forloop.parentloop.counter}} )'> {{ answer.answer}}</a>
    </li>
    {% endfor %}
</ul>
<span class='counter'>{{forloop.counter}}/{{ forloop.counter0|add:forloop.revcounter}}</span>
<span style="display:None" id='result-correct-{{question.pk}}' class='result'>Right answer</span>
<span style="display:None" id='result-wrong-{{question.pk}}' class='result'>Wrong answer</span>
<a href="#" class="next" style="display:None" id="next-{{question.pk}}" onClick='event.preventDefault(); submit()'></a>
</div>

{% else %}
<div id="q{{question.pk}}" style='display:None' class="question">
<h2 class="question-text">{{question.question}}</h2>

<ul class='answers'>
    {% for answer in answers %}
    <li>
        <input type='radio' style='display:None' name='answer-on-{{question.pk}}' value="{{answer.answer}}" id='q{{question.pk}}-a{{forloop.counter0}}'></input>
        <a href="#" class="answer-q{{question.pk}}-{{answer.is_Correct}} button" id='answer-{{forloop.counter0}}-on-{{question.pk}}' onClick='event.preventDefault(); nextQuestion({{question.pk}}, {{forloop.counter0}}, "{{answer.is_Correct}}", {{question.statistics.right}}, {{question.statistics.total}}, {{forloop.parentloop.counter}} )'> {{ answer.answer}}</a>

    </li>
    {% endfor %}
</ul>
<span class='counter'>{{forloop.counter}}/{{ forloop.counter0|add:forloop.revcounter}}</span>
<span style="display:None" id='result-correct-{{question.pk}}' class='result'>Right answer</span>
<span style="display:None" id='result-wrong-{{question.pk}}' class='result'>Wrong answer</span>
<a href="#" class="next" style="display:None" id="next-{{question.pk}}" onClick='event.preventDefault(); func({{question.pk}})'></a>
</div>
{% endif %}
{% endfor %}

</form>
</div>
</div>
</div>



{% endblock %}