<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">


        <meta http-equiv="X-UA-Compatible" content="chrome=IE7" />

        <meta name="viewport" content="initial-scale=1.0, width=device-width"/>
        <meta name="apple-mobile-web-app-capable" content="yes"/>
        <meta name="apple-mobile-web-app-status-bar-style" content="black" />




    </head>
    <body id="{% block body_id %}{% endblock %}" class="{% block body_class %}{% endblock %}">

<iframe style="width: 80%; height:80%; border: 2px solid red;" src="http://127.0.0.1:8000/questions/2/"></iframe>

<table class='asset-list'>
  <tbody>
    <tr>
        <th class="asset-list__heading">Vorschau</th>
        <th class="asset-list__heading">Name</th>
        <th class="asset-list__heading">Ausrichtung</th>
        <th class="asset-list__heading">Ausflogung</th>
        <th class="asset-list__heading">Dateigrose</th>
        <th class="asset-list__heading">Anderugsdatum</th>
        <th class="asset-list__heading">Ersetzen</th>
        <th class="asset-list__heading">Loschen</th>
    </tr>   
    <tr>
        <td class='asset-list__body'><img src="" class='asset-list__image'></td>
        <td class='asset-list__body'>1920_1080_PNG_fonts.mp4</td>
        <td class='asset-list__body'><img src="" class='asset-list__orientation'></td>
        <td class='asset-list__body'>1920 x 1080</td>
        <td class='asset-list__body'>2 MB</td>
        <td class='asset-list__body'>2016-10-24 16:38:15</td>
        <td class='asset-list__body'><a href="" class='asset-list__edit-link'></a></td>
        <td class='asset-list__body'><a href="" class='asset-list__delete-link'></a></td>
    </tr>
  </tbody>
</table>
    </body>
</html>
